.main-2{
    background-color: #191919ec;
    .conoce{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        text-decoration: overline;
        color: white;
        padding-top: 20px; 
    }
    
   }
