.main{
    background-color: #191919ec;
    .ubi{
        margin: 20px 10px 20px 10px;
    }
   
    .venta{
            text-align: center;
            text-decoration: overline;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: white;
            margin: 20px;
         
        }
        @media (max-width:450px){
            .ubi{
                display: none;
            }
        }
    }