.main-1{
    background-image: linear-gradient(white, #191919ec);
    div{
        h1{
            text-align: center;
            font-size: 40px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-decoration: overline;
            padding-top: 20px;
        }
    }

    
}