%footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.9254901961);
    text-transform: uppercase;
    font-weight: bold;
    list-style: none;
    padding: 20px;
}